* {
    font-family: "Work Sans", sans-serif;
}

/* common style */
.common-color {
    color: #FD6E0A;
}

.common-button {
    background-color: #FD6E0A;
    color: white;
    padding: 13px 35px;
    font-size: 22px;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    box-shadow: 1px 2px 5px black;

}

.common-title {
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
    /* margin-top: 0; */

}

.common-description {
    font-size: 14px;
    line-height: 1.6em;
    color: #757575;
    /* margin-bottom: 50px; */
    text-align: justify;
}

/* navbar styles */
.logo-name {
    font-size: 50px;
    margin-left: 50px;
}

header {
    background-color: #FFF8F3;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 40px;
}

nav li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
}

/* header-part */
.special-button {
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    background-color: #FFF8F3;
    padding: 13px 35px;
    font-size: 22px;
    font-weight: 500;
    border-radius: 8px;
}

.header-part {
    display: flex;
    align-items: center;
    background-image: url(/images/header_bg.png);
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: bottom right;
    justify-content: space-between;
    padding: 10px 0px 0 50px;
    margin-bottom: 100px;

}

.header-part img {
    width: 440px;
    /* height: 600px; */
}

.header-text {
    width: 500px;
}

.header-name-1 {
    color: #474747;
    font-size: 34px;
    margin-bottom: 0;
    margin-top: 0;
}

.header-name-2 {
    color: #181818;
    font-size: 65px;
    margin-top: 20px;
    margin-bottom: 0;
}

.header-description {
    color: #757575;
    margin-top: 20px;
    margin-bottom: 30px;
    line-height: 1.7em;
}

.special-button {
    margin-left: 20px;
}

/* about Section */
.about {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #FFF8F3;
    padding: 60px;

}

.about-section {
    /* background-color: #FFFFFF; */
    width: 800px;
    margin: 0 auto;
    padding: 20px 25px;
}

.about-information {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.about-text {
    text-align: center;
}

.input-name {
    margin-bottom: 10px;
    display: inline-block;
}

.input-type {
    margin-top: 0;
}

/* what i do section */
.what-i-do {
    padding-top: 100px;
    max-width: 1000px;
    margin: 0 auto;
}

.what-i-do-info {
    text-align: justify;
    width: 800px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.what-i-do-cards {
    display: flex;
    justify-content: space-between;
}

.cards {
    width: 180px;
    box-shadow: 2px -1px 8px black;
    padding: 20px;
    border-radius: 4px;
}

.card-description {
    font-size: 15px;
    text-align: justify;
    font-weight: 300;
}

/* resume-section */
.my-resume {
    margin-top: 100px;
}

.my-resume>h2 {
    margin-bottom: 50px;
}

.resume-flexbox {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    justify-content: space-between;
}

.my-education {
    margin-right: 25px;
}


.resume-title {
    color: #474747;
    margin-bottom: 25px;
}

.resume-info h2 {
    font-size: 20px;
    color: #474747;
    font-weight: 650;
}

.resume-info h3 {
    font-size: 16px;
    color: #474747;
    font-weight: 600;
}

.resume-info p {
    color: #474747;
    font-weight: 400;
    font-size: 14px;
    text-align: justify;
}

.button-special-custom {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 100px;
}

/* footer-part */
footer {
    background-color: #FFF8F3;
    height: 600px;
}

.footer-section {
    display: flex;
    width: 1000px;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 100px;

}

.footer-form input {
    display: block;
    width: 300px;
    padding: 16px;
    margin-bottom: 25px;
    border-radius: 4px;
    border: 1px solid #FD6E0A;
}

.footer-form textarea {
    display: block;
    width: 300px;
    padding: 16px;
    margin-bottom: 25px;
    border-radius: 4px;
    border: 1px solid #FD6E0A;
}

.footer-info {
    width: 40%;
}

.footer-content-title {
    font-size: 28px;

}

.footer-description {
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 20px;
    margin-top: 20px;
}

.social-icons img {
    margin-right: 20px;
}