* {
    font-family: "Work Sans", sans-serif;
}

/* common style */
.common-color {
    color: #FD6E0A;
}

.common-button {
    background-color: #FD6E0A;
    color: white;
    padding: 13px 35px;
    font-size: 22px;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    box-shadow: 1px 2px 5px black;

}

/* navbar styles */
.logo-name {
    font-size: 50px;
    margin-left: 50px;
}

header {
    background-color: #FFF8F3;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 40px;
}

nav li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
}

/* header-part */
.special-button {
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    background-color: #FFF8F3;
    padding: 13px 35px;
    font-size: 22px;
    font-weight: 500;
    border-radius: 8px;
}

.header-part {
    display: flex;
    align-items: center;
    background-image: url(/images/header_bg.png);
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: bottom right;
    justify-content: space-between;
    padding: 10px 0px 0 50px;

}

.header-part img {
    width: 440px;
    /* height: 600px; */
}

.header-text {
    width: 500px;
}

.header-name-1 {
    color: #474747;
    font-size: 34px;
    margin-bottom: 0;
    margin-top: 0;
}

.header-name-2 {
    color: #181818;
    font-size: 65px;
    margin-top: 20px;
    margin-bottom: 0;
}

.header-description {
    color: #757575;
    margin-top: 20px;
    margin-bottom: 30px;
    line-height: 1.7em;
}

.special-button {
    margin-left: 20px;
}